[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = release-2.0.14
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
	branch = v1.81
